*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.logo{
    position: absolute;
    max-width: 130px;
    top: 0;
    left: 0;
    filter: invert(1);
    
}

header{
    display: grid;
    grid-gap: 20px;
    padding: 20px;
}

.menu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 25px;
    background: none;
    border: none;
    font-size: 24px;
    color: black; 
    cursor: pointer;
    align-self: flex-end; 
    width: 20px;
    z-index: 2;
    overflow: hidden;
   
}

.menu-toggle:focus {
    outline: none;
}

.menu-toggle.active {
    color: transparent; 
}

.menu-toggle.active::before {
    content: '✖'; 
    color: black; 
    font-size: 24px; 
}

nav {
    position: fixed;
    display: none;
    flex-direction: column;
    text-align: right;
    right: 0;
    gap: 15px;
    margin-top: 40px;
    margin-right: 20px;
    z-index: 2;
}

.menu-open {
    display: flex; /* It shows the menu when the button is clicked */
}


nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    text-decoration: underline;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    flex: 1;
}

.img-detail{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.img-detail img{
    width: 100%;
    height: auto;
    max-width: 300px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.192);
    transition: .8s;
}

.img-detail img:hover{
    filter: brightness(1.150);
    transition: .8s;
}

.artist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    height: 20px;
    max-width: 400px;
    grid-row: 2;
    
}

.artistName{
   grid-column: 2/3; 
   grid-row: 1;
   font-size: 13px;
   font-weight: 600;
   text-align: left;
   
}

.artist img{
    margin-top: -8px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1;
    grid-column: 1;
    grid-row: 1/3;
    margin-left: 50px;
}

.invitation{
    grid-column: 2;
    grid-row: 2;
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
    font-style: italic;
}

.like{
    font-size: 30px;
    border: none;
    cursor: pointer;
    background: none;
    grid-column: 3;
    grid-row: 2/3;
    width: 50px;
    margin-left: -5px;
    margin-top: -5px;
    z-index: 5;

    
    
}

.like.liked{
    color: red;
}



footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00bfe5b7;
    padding: 30px;
    margin-top: 50px;
}

footer p{
    color: white;
    text-decoration: none;
}

footer a{
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: white;
}

footer img{
    width: 80%;
}

.media{
    display: flex;
}

@media screen and (min-width: 550px){
    .img-detail img{
        width: 100%;
        max-width: 400px;
        height: auto;
        object-fit: cover;
    }

}