@media screen and (min-width: 1000px){

    .navigation{
        position: relative;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        gap: 80px;
        margin-top: -1px;
        font-size: 20px;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .artist{
        grid-column: 3;
        grid-row: 1/3;
        box-sizing: border-box;
        z-index: 2;
    }

    .menu-toggle{
        display: none;
    }

    .img-detail{
        grid-column: 1/3;
        grid-row: 1/2;
        margin: auto;
    }

    .img-detail img{
        width: 100%;
        max-width: 600px;
        height: auto;
        object-fit: cover;
   
    }

    footer{
        margin-top: 50px;
    }

}