*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo{
    position: absolute;
    max-width: 130px;
    top: 0;
    left: 0;
    filter: brightness(0) invert(1);
    cursor: pointer;
    z-index: 5;
}

header{
    display: grid;
    grid-gap: 20px;
    padding: 20px;
}


.hero img{
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    left: 0;
    filter: brightness(0.5) blur(4px);
    object-fit: cover; 
    width: 100%;
    height: 500px;
    
}

.menu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 25px;
    background: none;
    border: none;
    font-size: 24px;
    color: white; 
    cursor: pointer;
    align-self: flex-end; 
    width: 20px;
    z-index: 2;
    overflow: hidden;
   
}

.menu-toggle:focus {
    outline: none;
}

.menu-toggle.active {
    color: transparent; 
}

.menu-toggle.active::before {
    content: '✖'; 
    color: white; 
    font-size: 24px; 
}

nav {
    position: fixed;
    display: none;
    flex-direction: column;
    text-align: right;
    right: 0;
    gap: 15px;
    margin-top: 60px;
    margin-right: 20px;
    z-index: 2;
}

.menu-open {
    display: flex; /* It shows the menu when the button is clicked */
}


nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    text-decoration: underline;
}

header h2{
    color: white;
    text-align: center;
    margin-top: 180px;
    font-weight: 800;
}

header p{
    color: white;
    text-align: center;
    font-size: 19px;
}

header input[type = 'text']{
    padding: .8rem;
    border: none;
    width: 100%;
}

main{
    padding: 20px;
    width: 100%;
    flex: 1;
}

.gallery{
    margin-top: 150px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}

.gallery img{
    width: 100%;
    object-fit: cover;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.363);
}



footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00bfe5b7;
    padding: 30px;
}

footer p{
    color: white;
    text-decoration: none;
}

footer a{
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: white;
}

footer img{
    width: 80%;
}

.media{
    display: flex;
}

@media screen and (min-width: 500px){


    header p{
        font-size: 25px;
    }

    header h2{
        font-size: 30px;
    }
}

