*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.logo{
    position: absolute;
    max-width: 130px;
    top: 0;
    left: 0;
    filter: brightness(0) invert(1);
    
}

header{
    display: grid;
    grid-gap: 20px;
    padding: 20px;
}


.hero img{
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    left: 0;
    filter: blur(1.5px);
    height: auto;
    object-fit: cover; 
    width: 100%;
}

.menu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 25px;
    background: none;
    border: none;
    font-size: 24px;
    color: white; 
    cursor: pointer;
    align-self: flex-end; 
    width: 20px;
    z-index: 2;
    overflow: hidden;
   
}

.menu-toggle:focus {
    outline: none;
}

.menu-toggle.active {
    color: transparent; 
}

.menu-toggle.active::before {
    content: '✖'; 
    color: white; 
    font-size: 24px; 
}

.navigation {
    position: fixed;
    display: none;
    flex-direction: column;
    text-align: right;
    right: 0;
    gap: 30px;
    margin-top: 60px;
    margin-right: 20px;
    z-index: 2;
}

.menu-open {
    display: flex; /* It shows the menu when the button is clicked */
}


nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    text-decoration: underline;
}

header h2{
    color: white;
    text-align: center;
    margin-top: 250px;
}

header p{
    color: white;
    text-align: center;
    font-size: 17px;
}

header input[type = 'text']{
    padding: .8rem;
    border: none;
    width: 100%;
}