
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto, Arial, Helvetica;
}

header{
    display: grid;
    grid-gap: 20px;
    background-color: rgba(0, 102, 255, 0.808);
    padding: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.514);

}

article p{
    font-weight: 300;
    line-height: 25px;
}

h1, nav a{
    color: white;
}

.menu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 25px;
    background: none;
    border: none;
    font-size: 24px;
    color: white; 
    cursor: pointer;
    align-self: flex-end; 
    width: 20px;
   
}

.menu-toggle:focus {
    outline: none;
}

.menu-toggle.active {
    color: transparent; 
}

.menu-toggle.active::before {
    content: '✖'; 
    color: white; 
    font-size: 24px; 
}

.navigation {
    display: none;
    flex-direction: column;
    align-items: center; 
    gap: 10px;
}

.menu-open {
    display: flex; /* It shows the menu when the button is clicked */
}


nav a{
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}


main{
    max-width: 640px;
    margin: 0 auto;
    display: grid;
    padding: 20px;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    text-align: center;
}

article{
    padding: 20px;
    background-color: rgba(0, 102, 255, 0.158);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.151);
}

article h3{
    margin-bottom: 10px;
    font-size: 25px;
}

article img{
    object-fit: cover;
    margin-top: 10px;
}

footer{
    text-align: center;
    background-color: rgba(0, 102, 255, 0.808);
    padding: 20px;
}

div img{
    width: 100%;
    height: auto;
    object-fit: cover;
}


h2{
    grid-column: 1/-1; /*This way it takes the whole grid column*/
    text-align: center;
    padding: 30px;
    font-size: 30px;
}


