
*{
    margin: 0;
    padding: 0;
}

header{
    display: grid;
    grid-gap: 20px;
    background-color: rgba(0, 102, 255, 0.808);
    padding: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.514);

}


h1, nav a{
    color: white;
}

.menu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 25px;
    background: none;
    border: none;
    font-size: 24px;
    color: white; 
    cursor: pointer;
    align-self: flex-end; 
    width: 20px;
   
}

.navigation {
    display: none;
    flex-direction: column;
    align-items: center; 
    gap: 10px;
}

.menu-open {
    display: flex; /* It shows the menu when the button is clicked */
}


nav a{
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}


main{
    grid-row: 2;
    max-width: 640px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    grid-gap: 30px;
    grid-row: 2;
}

footer{
    text-align: center;
    background-color: rgba(0, 102, 255, 0.808);
    padding: 20px;
}

figure img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

figure{
    margin: 0;
    max-width: 100%;
}

h2{
    grid-column: 1/-1; /*This way it takes the whole grid column*/
    text-align: center;
}


